<?php
/***********************************************************************************************************************
 * @package     Magento
 * @author      Zahirul Hasan<zhasan@bdipo.com>
 * @copyright   Copyright (c) 2018 - 2019 @ Nascenia (https://www.nascenia.com/)
 **********************************************************************************************************************/

// @codingStandardsIgnoreFile
/**
 * @var $block \Magento\OfflinePayments\Block\Form\Checkmo
 */
?>
<?php if ($block->getMethod()->getMailingAddress() || $block->getMethod()->getPayableTo()): ?>
    <dl class="items check payable" id="payment_form_<?= $block->escapeHtml($block->getMethodCode()) ?>" style="display:none;">
        <?php if ($block->getMethod()->getPayableTo()): ?>
            <dt class="title"><?= $block->escapeHtml(__('Make Check payable to:')) ?></dt>
            <dd class="content"><?= $block->escapeHtml($block->getMethod()->getPayableTo()) ?></dd>
        <?php endif; ?>
        <?php if ($block->getMethod()->getMailingAddress()): ?>
            <dt class="title"><?= $block->escapeHtml(__('Send Check to:')) ?></dt>
            <dd class="content">
                <address class="checkmo mailing address">
                    <?= /* @noEscape */ nl2br($block->escapeHtml($block->getMethod()->getMailingAddress())) ?>
                </address>
            </dd>
        <?php endif; ?>
    </dl>
<?php endif; ?>
